<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>Projet Angular</title>
</head>

<body style="background-color:darkgrey;">

  <div class="centrer">

    <h1 style="font-size: 40px">Projet Angular (Blog)</h1>

  </div>

  <div class="texte">
    <form id="article" method="post">
      <p>
        Nom d'utillisateur <input type="text" name="NomUti" placeholder="saisir...">
        Mot de passe <input type="text" name="Mdp" placeholder="saisir...">
      </p>
      <input type="submit" value="Connexion">
    </form>
  </div>



  <app-article></app-article>

  <footer>
    <p>
      Posté par Ranto Ralijaona et Baptiste Laugerotte, le 31 Mai 2020.
    </p>
  </footer>


</body>
</html>
