
<ul>
  <li>Nom de l'article : {{ nom }}</li>
  <li>Contenu de l'article {{ texte }}</li>
  <p>Editer l'article</p>

  <form action="">
    <div>
      <label for="nom">Titre </label>
      <input type="text" [(ngModel)]="nom" name="nom">
    </div>
    <div>
      <label for="text">Contenu de l'article :</label>
      <input type="text" [(ngModel)]="texte" name="texte">
    </div>
  </form>
</ul>

<ul>
  <li>Nom de l'article : {{ nom2 }}</li>
  <li>Contenu de l'article {{ texte2 }}</li>
  <p>Editer l'article :</p>
  <form action="">
    <div>
      <label for="nom2">Titre </label>
      <input type="text" [(ngModel)]="nom2" name="nom">
    </div>
    <div>
      <label for="text2">Contenu de l'article :</label>
      <input type="text" [(ngModel)]="texte2" name="texte">
    </div>
  </form>
</ul>

<ul>
  <li>Nom de l'article : {{ nom3 }}</li>
  <li>Contenu de l'article {{ texte3 }}</li>
  <p>Editer l'article :</p>
  <form action="">
    <div>
      <label for="nom2">Titre </label>
      <input type="text" [(ngModel)]="nom3" name="nom3">
    </div>
    <div>
      <label for="text3">Contenu de l'article :</label>
      <input type="text3" [(ngModel)]="texte3" name="texte3">
    </div>
  </form>
</ul>
