<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="utf-8" />
  <title>Projet Angular</title>
</head>
<body style="background-color:darkgrey;">


  <div class="centrer">

    <h1 style="font-size: 40px">Projet Angular (Blog)</h1>

  </div>

  <div class="texte">
    <form id="article" method="post">
      <p>
        Nom d'utillisateur <input type="text" name="NomUti" placeholder="saisir...">
        Mot de passe <input type="text" name="Mdp" placeholder="saisir...">
      </p>
      <input type="submit" value="Connexion">
    </form>

    <p>Voici la liste des articles :</p>
  </div>

  <form action="/ma-page-de-traitement" method="post">
    <div>
      <label for="name">Nom :</label>
      <input type="text" id="name" name="user_name">
    </div>
    <div>
      <label for="mail">e-mail :</label>
      <input type="email" id="mail" name="user_mail">
    </div>
    <div>
      <label for="msg">Message :</label>
      <textarea id="msg" name="user_message"></textarea>
    </div>
  </form>

  <article>
    <header>
      <h1>Titre de l'article</h1>
      <p>Auteur : bidule</p>
    </header>

    <p>Contenu de l'article</p>

    <header>
      <h1>Titre de l'article 2</h1>
      <p>Auteur : bidule</p>
    </header>

    <p>Contenu de l'article</p>
  </article>

  <nav>
    <ul>
      <li><a href="ajouter-article.component.html">Ajout d'article</a></li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>

  <h1>NomArticle: <%=quote%> </h1>

  <footer>
    <p>
      Posté par Ranto Ralijaona et Baptiste Laugerotte, le 31 Mai 2020.
    </p>
  </footer>

</body>
</html>
