.centrer {
  text-align: center;
  border: 4mm ridge rgb(0, 148, 255);
  font-family: Arial;
}

.texte {
  font-family: Arial;
  text-align:center;
}


article, p{
    font-family: Arial;

}
